<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
        <!-- Bootstrap -->
    <link rel="stylesheet" media="screen"
          href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"/>
    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap-theme.min.css}"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"
            th:src="@{/webjars/jquery/2.1.3/jquery.min.js}"></script>
    <script src="sockjs-0.3.4.js"></script>
    <script src="stomp.js"></script>
    <script src="mustache.js"></script>
    <script id="plantillaTwitter" type="text/template">
		<div class="row panel panel-default" th:fragment="content">
    		<div class="panel-heading">
        		<a href="https://twitter.com/{{fromUser}}" th:href:"https://twitter.com/{{fromUser}}"
           			target="_blank"><b th:text="@{{fromUser}}">{{fromUser}}</b></a>
        		<div class="pull-right">
            	<a href="https://twitter.com/{{fromUser}}/status/{{idStr}}"
               		th:href="https://twitter.com/{{fromUser}}/status/{{idStr}}"
               		target="_blank"><span class="glyphicon glyphicon-link"></span></a>
        		</div>
    		</div>
    		<div class="panel-body" th:text={{unmodifiedText}}>{{unmodifiedText}}
    		</div>
		</div>
	</script>
    <script type="text/javascript">
    
        var stompClient = null;
        
        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
            document.getElementById('response').innerHTML = '';
        }
        
        function connect() {
            var socket = new SockJS('/hello');
            stompClient = Stomp.over(socket);            
            stompClient.connect({}, function(frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
            });
        }
        
        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }
        
        function sendName() {
            var name = document.getElementById('name').value;
            stompClient.subscribe('/topic/'+name, function(greeting){
    			var plantilla = $('#plantillaTwitter').html();
    			var rendered = Mustache.render(plantilla, JSON.parse(greeting.body));
        		$("#resultsBlock").append(rendered);
            });
            stompClient.send("/app/hello", {}, JSON.stringify({ 'name': name }));
        }
        
        function showGreeting(message) {
            var response = document.getElementById('response');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';
            p.appendChild(document.createTextNode(message));
            response.appendChild(p);
        }
    </script>
</head>
<body onload="disconnect()">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div>
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    <div id="conversationDiv">
        <label>What is your name?</label><input type="text" id="name" />
        <button id="sendName" onclick="sendName();">Send</button>
        <p id="response"></p>
    </div>  
      <div id="resultsBlock"></div>
</div>
</body>
</html>